body {
    background-color: black;
   text-align: center;
}
h1{
    color: lightseagreen;
    border-top: 3px solid lightgreen;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   border-bottom: 3px solid lightgreen;
}
h2{
    color: lightseagreen;
    border-top: 3px solid   lightgreen;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-bottom: 3px solid  lightgreen;
}
h3{
    
    color: lightseagreen;
    border-top: 3px solid lightgreen;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-bottom: 3px solid  lightgreen;
}
table {
    color: peru;
    font-family: 'Times New Roman', Times, serif;
}
p {
    color: gold;
}