body {
    background-color: black;
   text-align: left;
   margin-inline: 50px;
}

h1{
    color: lightseagreen;
    text-align: center;
    text-size-adjust: 42;
    border-top: 3px solid peru;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   border-bottom: 3px solid peru;
}

h2{
    color: lightseagreen;
    border-top: 3px solid   peru;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-bottom: 3px solid  peru;
}

h3{
    
    color: lightseagreen;
    border-top: 3px solid peru;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-bottom: 3px solid  peru;
}

h4 {
    text-size-adjust: 22;
    text-align: center;
    color: limegreen;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

table {
    
    font-family: 'Times New Roman', Times, serif;
    border-right: 4px solid peru;
    border-left: 4px solid peru;
    border-top: 4px solid peru;
    border-bottom: 4px solid peru;
}
th {
    color: lightseagreen;
    border-left: 2px solid peru;
    border-right: 2px solid peru;
}
td {
    color: gold;
    border-left: 2px solid peru;
    border-right: 2px solid peru;
    border-top: 2px solid peru;
    border-bottom: 2px solid peru;
}


p {
    color: gold;
    text-size-adjust: 22px;
}

a {
    border-right: 2px solid peru;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   color: mediumaquamarine; 
   border-left: 2px solid peru;
}