body {
    background-color: black;
   text-align: center;
}
h1{
    color: lightseagreen;
    border-top: lightgreen;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   border-bottom: lightgreen;
}
h2{
    color: lightseagreen;
    border-top:  lightgreen;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-bottom:  lightgreen;
}
h3{
    
    color: lightseagreen;
    border-top:  lightgreen;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-bottom:  lightgreen;
}
table {
    color: peru;
    font-family: 'Times New Roman', Times, serif;
}
p {
    color: gold;
    border-bottom:  lightgreen;
}